Data/hate_speech_detection_curated_dataset/HateSpeechDatasetBalanced.csv filter=lfs diff=lfs merge=lfs -text
Data/hate_speech_detection_curated_dataset/HateSpeechDataset.csv filter=lfs diff=lfs merge=lfs -text
Data/hate_speech_and_offensive_language_dataset/labeled_data.csv filter=lfs diff=lfs merge=lfs -text
